.song-detail-page {
  background-color: #12303b;
  border-radius: none;
  height: 100vh;
}

.song-detail-page .background {
  position: absolute;
  width: 30vw;
  height: 30vh;
  top: 80px;
  right: 120px;
  opacity: 50%;
}

.song-detail-page .player {
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.song-detail-page .favorite-button {
  margin: 0;
  padding: 0;
}

.song-detail-page .container {
  padding-top: 75px;
  height: 100%;
}

.song-detail-page figure {
  width: 204px;
  height: 204px;
}
